stages:
  - test
  - build
  - pdf
  
variables:
  GIT_DEPTH: "0"

.run_on_dockerhost: &run_on_dockerhost
  tags:
    - docker20
  image: "${DOCKER_ACCESS_URL}/other/dockerdev/documentation:latest"

linkcheck:
  <<: *run_on_dockerhost
  stage: test
  script:
    - python3 -msphinx -W -b linkcheck . _build/linkcheck --keep-going
  allow_failure: true

build_and_install:
  <<: *run_on_dockerhost
  stage: build
  rules:
    - if: $CI_COMMIT_BRANCH == "master"
      when: on_success
    - when: never
  script:
    - python3 -msphinx -W -b html . _build/html
    - python3 -msphinx.ext.intersphinx _build/html/objects.inv > _build/html/help_index_user_guide.txt
    - cp -r _build/html user-guide
    - az storage copy -s 'user-guide' --recursive --destination-container '$web' -- --overwrite=true --as-subdir=true
    - bash load_ssh_key_for_deploy.sh
    - rsync -rt --delete-excluded _build/html/ support@data.aimms.com:/home/aimms/www/documentation.aimms.com/user-guide

compile_PDF:
  <<: *run_on_dockerhost
  stage: pdf
  rules:
    - if: $CI_COMMIT_BRANCH == "master"
      when: on_success
    - when: never
  script:
    - python3 -msphinx -M latex . _build
    - python3 -msphinx -M latexpdf . _build
    - mkdir -p user-guide && cp _build/latex/AIMMS_user.pdf user-guide/AIMMS_user.pdf
    - az storage copy -s 'user-guide' --recursive --destination-container '$web' -- --overwrite=true --as-subdir=true
    - bash load_ssh_key_for_deploy.sh
    - rsync -rt _build/latex/AIMMS_user.pdf support@data.aimms.com:/home/aimms/www/documentation.aimms.com/user-guide
    - rsync -rt _build/latex/AIMMS_user.pdf support@data.aimms.com:/home/aimms/www/data/download/manuals
  allow_failure: true
